html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.site {
  float: left;
  width: 100%;
  background-color: #3e5c9a;
}

.site-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  padding-left: 20px;
  float:left;
  width: 50%;
}

.site-header h1 {
  font-size: 40px;
  font-weight: bold;
}

.site-entrance {
  float: right;
  font-size: 15px;
  width: 20%;
  padding-top: 60px;
}

.site-entrance a {
  color: #fff;
  margin-right: 10px;
}

.acount h1{
    font-size: 40px;
    font-weight: bold;
}

.acount-text {
  float: left;
  width: 50%;
  padding-top: 20px;
}

.acount-text h3 {
  font-weight: bold;
  line-height: 1.5;
}

.container {
  background-color: #e5e8f1;
  width:100%;
  height: 700px;
  height: 100%;
  padding-bottom: 20px;
}

.acount {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  width: 40%;
}

input[type="text"] {
  width: 200px;
  margin-bottom: 20px;
  height: 30px;
}

input[type="email"] {
  width: 300px;
  margin-bottom: 20px;
  height: 30px;
}

input[type="password"] {
  width: 200px;
  margin-bottom: 20px;
  height: 30px;
}

input[type="submit"] {
  padding: 10px 15px;
  width: 150px;
  background-color: #5e994b;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

label {
  font-size: 15px;
}

.user-content {
  float: left;
}

.user-content h1 {
  font-weight: bold;
}

.user-content p {
  font-size: 15px;
  font-weight: bold;
}

.user-content a {
  font-size: 15px;
  margin-right: 10px;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  padding-left: 20px;
  color: gray;
  width: 100%;
}
